{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'vendingmachine/style.css' %}" />

<body>
    <div class="block">
        <div id="accept-prompt">
            <p>This software is only to be used as a course project in the Spring 2014 offering of CS453 at Western Carolina University. It and any modification of it are not to be used in any other manner.</p>
            <form action="/license/" method="POST">
                <input id="submit" type="button" value="Agree" />
            </form>
        </div>
    </div>
</body>