.block {
    height: 700px;
    text-align: center;
    background: #336600;
    border: #a0a0a0 solid 1px;
    margin: 20px;
}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#accept-prompt {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding: 10px 15px;
    border: #a0a0a0 solid 1px;
    background: #f5f5f5;
}